#icon {
  width: 24px;
}

#masthead {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 35px;
}

#relatable {
  padding: 20px 0;
  height: 35px;
}

#lefthead {
  display: flex;
  align-items: center;
  
  .icon {
    margin: 0 10px;
  }
}

#righthead {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  img {
    border-radius: 50%;
    box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.4);
    margin: 0 10px;
  }
  
  h3 {
    margin: 0 10px;
    text-align: right;
  }

  h3:first-child {
    font-weight: 600;
  }
}