#sidebar {
    height: 100%;
    width: 30%;
    min-width: 220px;
    max-width: 300px;
    background-color: rgb(40, 113, 158);
    padding: 20px;
    padding-top: 0;
    color: white;
}

#divider {
    border-top: 2px solid #5a95b8;
}

.btn {
    white-space: nowrap;
    display: flex;
    width: 100%;
    min-width: 163px;
    min-height: 52px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 500ms;

    h2 {
        padding-right: 15px;
    }

    h2.hover-info {
        color: #5e5e5e;
        font-style: italic;
        font-size: smaller;
        padding-left: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.btn:first-of-type {
    margin-top: 20px;
}

button:disabled {
    pointer-events: all;
    svg {
        opacity: 0.4;
    }
}

.btn:hover:enabled {
    background-color: rgb(222, 222, 222);
}

#connect-btn {
    height: 50px;

    #plus {
        padding: 0 10px;
        font-size: x-large;
        color: #5e5e5e;
    }
}

.help-text {
    color: rgb(158, 40, 40);
    padding: 10px;
    background-color: rgb(255, 205, 205);
    transition: all 2s;
}

#instructions {
    font-size: 14px;
    h1 {
        padding-top: 12px;
        margin-bottom: 5px;
    }
}

.center-fill {
    fill:rgb(40, 113, 158);
    fill-rule:nonzero;
}

#learnmore {
    position: absolute;
    bottom: 0;
    height: 100px;
    margin-top: 30px;

    h1 {
        margin-bottom: 5px;
    }

    ul {
        padding-right: 15px;
    }

    li {
        margin-bottom: 5px;
    }

    a {
        text-decoration: none;
        color: rgb(152, 215, 255);
        margin-bottom: 5px;
    }
}

@media (max-height: 761px) {
    #learnmore {
        position: relative;
    }
}


